body {
  height: 100vh;
}

.gj-datepicker-md [role=right-icon] {
  right: 5px;
  top: 10px;
}

.site-logo img {
  display: block;
  margin: auto;
}

.form-container {
  margin: 25px;
  padding: 0 25px 25px 25px;
  border: 2.5px solid #142b5d;
  border-radius: 10px;
  background: #fff;
}

.layout-container {
  background: #e5e5e5;
  height: 100%;
}

[data-tip] {
  position: relative;
}

.submit-btn-blue {
  background-color: #142b5d;
  border-color: #142b5d;
}
.submit-btn-blue:hover, .submit-btn-blue:active {
  background: #3868cd;
}
.submit-btn-blue:focus {
  box-shadow: 0 0 0 0.2rem #142b5d;
}

[data-tip]:before {
  content: '';
  /* hides the tooltip when not hovered */
  display: none;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a;
  position: absolute;
  top: -11px;
  left: 35px;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  transform: rotate(180deg);
}

[data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: -40px;
  left: 0px;
  padding: 5px 8px;
  background: #1a1a1a;
  color: #fff;
  z-index: 9;
  font-size: 0.75em;
  height: 30px;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  word-wrap: normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
  display: block;
}

.form-note {
  font-size: 14.5px;
}
.form-note span {
  display: block;
}
