.login-wrap {
  max-width: 490px;
}

.modal-btn-spaces {
  display: inline-block;
  padding: 0 15px;
}

.dataTables_paginate span {
  display: inline-block;
  padding: 0 5px;
}
.dataTables_paginate span a {
  padding: 0 5px;
}

.au-btn-blue {
  background: #112658;
}
.au-btn-blue:hover, .au-btn-blue:active {
  background: #3868cd;
}

.time_input {
  display: none;
}
